.git/
.idea/
.vscode/

**/node_modules/
**/.vite/
**/dist/
**/build/
**/coverage/
**/.dart_tool/
**/.gradle/
**/tmp/
**/bin/

.env
.env.*
!**/.env.example
!**/.env.production.example

*.log
*.zip
emulator-screen.png
