API_DOMAIN=api.example.com
POSTGRES_PASSWORD=change-this-password
DEV_USER_ID=00000000-0000-0000-0000-000000000001
CORS_ALLOWED_ORIGINS=
S3_ENDPOINT=https://s3.twcstorage.ru
S3_REGION=ru-1
S3_BUCKET=creative-gym-media-prod
S3_ACCESS_KEY=change-this-access-key
S3_SECRET_KEY=change-this-secret-key
