API_DOMAIN=api.example.com
POSTGRES_PASSWORD=change-this-password
DEV_USER_ID=00000000-0000-0000-0000-000000000001
ADMIN_ACCESS_CODE_HASH=
CORS_ALLOWED_ORIGINS=
S3_ENDPOINT=https://s3.twcstorage.ru
S3_REGION=ru-1
S3_BUCKET=creative-gym-media-prod
S3_ACCESS_KEY=change-this-access-key
S3_SECRET_KEY=change-this-secret-key
PUBLIC_BASE_URL=https://creative.gde-kofe.ru
AUTH_APP_CALLBACK_URL=creativegym://auth/complete
YANDEX_CLIENT_ID=change-this-client-id
YANDEX_CLIENT_SECRET=change-this-client-secret
SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_USERNAME=mailbox@example.com
SMTP_PASSWORD=change-this-app-password
SMTP_FROM=mailbox@example.com
PASSKEY_RP_ID=creative.gde-kofe.ru
PASSKEY_RP_NAME=Creative Gym
PASSKEY_ORIGINS=https://creative.gde-kofe.ru,android:apk-key-hash:sYaYd3Izph9C9OsOliAWxnFqEtosUx2oklk0a-HNeCc,android:apk-key-hash:ezCfxek7Eg87Wxv7ZvjjpygBiGeWJP59ILtl9WTz7MY
ANDROID_PACKAGE_NAME=com.creativegym.mobile
ANDROID_SHA256_CERT_FINGERPRINTS=B1:86:98:77:72:33:A6:1F:42:F4:EB:0E:96:20:16:C6:71:6A:12:DA:2C:53:1D:A8:92:59:34:6B:E1:CD:78:27,7B:30:9F:C5:E9:3B:12:0F:3B:5B:1B:FB:66:F8:E3:A7:28:01:88:67:96:24:FE:7D:20:BB:65:F5:64:F3:EC:C6
